.btnLoadMore {
    display: 'inline-block';
    border-radius: 8px;
    background-color: rgb(7, 62, 61);
    padding: 8px 16px;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #b7babc;
    ;
}

.btnLoadMore:hover {
    box-shadow: 1px 1px 10px #7a7c7d;
    font-weight: 600;
}